<p>To reset your password, please click the following link:</p>
<p>
    <a href="{{ resetToken.url }}">Reset Password</a>
</p>
<p>If you did not request a password reset, please ignore this email.</p>