{# File: templates/reponse/edit.html.twig #}
                        {% extends 'base.html.twig' %}

                        {% block title %}Edit Reponse{% endblock %}

                        {% block body %}
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="card shadow-sm">
                                        <div class="card-header bg-primary text-white">
                                            <h3 class="mb-0">Edit Reponse</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}
                                        </div>
                                        <div class="card-footer d-flex justify-content-between">
                                            <a href="{{ path('app_reponse_index') }}" class="btn btn-secondary">
                                                <i class="fas fa-arrow-left me-1"></i> Back to list
                                            </a>
                                            {{ include('reponse/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}