{% extends 'base.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Edit Livraison</h1>

        <div class="form-container">
            {{ include('livraison/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div class="actions">
            <a href="{{ path('app_livraison_index') }}" class="btn btn-back">Back to List</a>
            {{ include('livraison/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
