<form method="post" action="{{ path('app_moyen_de_transport_delete', {'id': moyen_de_transport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moyen_de_transport.id) }}">
    <button class="btn">Delete</button>
</form>
