{# File: templates/base.html.twig (Ensure this change is present) #}
<!DOCTYPE html>
{# Add data-bs-theme attribute - JS will toggle between 'light' and 'dark' #}
<html lang="en" data-bs-theme="light"> {# Default to light #}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Symfony App{% endblock %}</title>

        {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
        {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

{% block body %}
        {# Content from child templates will be rendered here #}
{% endblock %}

{% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>